body {
  background-image: url('https://images.pexels.com/photos/2362004/pexels-photo-2362004.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* background-attachment: fixed; */
  height: 93vh;
}

body::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 74rem;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: -1;
}

h1 {
  text-align: center;
  margin: 1rem 0;
  font-size: 2.3rem;
}

.con {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  height: 65rem;
  z-index: 2;
}

.con .c1 {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px 10px 10px 10px;
  color: wheat;
  width: 90%;
}

.con .c1 .uname,
.con .c1 .em,
.con .c1 .pa,
.con .c1 .cpa,
.con .c1 .phone {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.con .c1 input {
  margin: 1rem auto;
  padding: 0.5rem 0;
  width: 80%;
}

.con .c1 input:focus {
  outline: 0;
  border: solid 3px #efc88b;
}

.con .c1 .uname label,
.con .c1 .em label,
.con .c1 .pa label,
.con .c1 .cpa label,
.con .c1 .phone label {
  display: block;
  margin: 1rem 3.5rem;
  font-size: 1.8rem;
}

.con .c1 input[type='submit'] {
  background-color: #efc88b;
  border: none;
  border-radius: 4px 4px 4px 4px;
  padding: 1rem 0;
  margin: 1rem 3.5rem;
  cursor: pointer;
}

.con .c1 small {
  /* margin-left: 10.8rem; */
  margin: 0.2rem 3.5rem;
  color: var(--error);
  font-size: 1.2rem;
  visibility: hidden;
  /* display: none; */
}

.con .c1 .inps.success {
  border: solid 3px var(--success);
}

.con .c1 .inps.error {
  border: solid 3px var(--error);
}
