:root {
  --success: #2ecc71;
  --error: #e74c3c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background-image: url('https://images.pexels.com/photos/2362004/pexels-photo-2362004.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 90vh;
}

body::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

h1 {
  margin: 1rem 10.8rem;
  font-size: 3rem;
}

.con {
  display: flex;
  justify-content: space-around;
  margin-top: 7rem;
  height: 60rem;
  z-index: 2;
}

.con .c1 {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  flex: 0.5;
  border-radius: 20px 20px 20px 20px;
  color: wheat;
}

.con .c1 input {
  margin: 1rem auto;
  padding: 0.8rem 0;
  width: 70%;
}

.con .c1 input:focus {
  outline: 0;
  border: solid 3px #efc88b;
}

.con .c1 label {
  display: block;
  margin: 1rem 10.8rem;
  font-size: 1.8rem;
}

.con .c1 input[type='submit'] {
  background-color: #efc88b;
  border: none;
  border-radius: 4px 4px 4px 4px;
  padding: 1rem 0;
  margin: 1rem 10.8rem;
  cursor: pointer;
}

.con .c1 small {
  margin-left: 10.8rem;
  color: var(--error);
  font-size: 1rem;
  display: none;
  /* visibility: hidden; */
}

.con .c1 .inps.success {
  border: solid 3px var(--success);
}

.con .c1 .inps.error {
  border: solid 3px var(--error);
}
